name: CI

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - main
  push:
    branches:
      - main

jobs:
  check-security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Scan for hard-coded secrets
        id: secrets
        uses: trufflesecurity/trufflehog@ef6e76c3c4023279497fab4721ffa071a722fd05 # v3.92.4

      - name: Scan for vulnerable dependencies
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        id: deps
        with:
          scan-type: fs
          scanners: "vuln,secret,misconfig"
          severity: "CRITICAL,HIGH"
          exit-code: "1"
